<div class="relative mx-auto px-8 max-w-7xl py-12 lg:py-24 lg:px-36 md:px-12">
  <div
    class="grid grid-cols-1 gap-6 py-12 lg:gap-y-32 md:grid-cols-2 lg:grid-cols-2"
  >
    <figure class="product">
      <img
        class="front w-full rounded-3xl shadow-2xl"
        src="/assets/images/ShirtFront.jpg"
        alt="Gnar Crew Tshirt"
        width="1310"
        height="873"
      />
      <img
        class="back w-full rounded-3xl shadow-2xl"
        src="/assets/images/ShirtBack.jpg"
        alt="Gnar Crew Tshirt"
        width="1310"
        height="873"
      />
      <div class="mt-4 flex justify-between px-6">
        <div>
          <h3 class="text-sm text-negroni-500">
            <!-- <a href="#">
              <span aria-hidden="true" class="absolute inset-0"></span>
               The Tee
            </a> -->
            <p>The Tee</p>

          </h3>
          <p class="mt-1 text-lg font-medium leading-6 text-white">
            Black / White
          </p>
        </div>
        <!-- <p class="text-base text-tomato-500">$35</p> -->
        <code class="text-base text-tomato-500">Coming Soon</code>
      </div>
    </figure>
    <figure class="product">
      <img
        class="front w-full rounded-3xl shadow-2xl"
        src="/assets/images/HoodieFront.jpg"
        alt="Gnar Crew Tshirt"
        width="1310"
        height="873"
      />
      <img
        class="back w-full rounded-3xl shadow-2xl"
        src="/assets/images/HoodieBack.jpg"
        alt="Gnar Crew Tshirt"
        width="1310"
        height="873"
      />
      <div class="mt-4 flex justify-between px-6">
        <div>
          <h3 class="text-sm text-negroni-500">
            <!-- <a href="#">
              <span aria-hidden="true" class="absolute inset-0"></span>
               The Tee
            </a> -->
            <p>The Hoodie</p>

          </h3>
          <p class="mt-1 text-lg font-medium leading-6 text-white">
            Black / White
          </p>
        </div>
        <!-- <p class="text-base text-tomato-500">$35</p> -->
        <code class="text-base text-tomato-500">Coming Soon</code>
      </div>
    </figure>
  </div>
</div>
