<footer aria-labelledby="footer-heading">
  <div class="items-center text-center 2xl:max-w-7xl lg:px-16 md:px-12 mx-auto px-8 w-xl xl:px-36">
    <div class="flex flex-col gap-y-12 items-start justify-between lg:flex-row lg:items-center lg:py-16 pb-6 pt-16">
      <div class="lg:text-center lg:mx-auto">
        <div class="flex items-center text-negroni-500">
          <div class="lg:text-center lg:mx-auto">
            <div class="flex items-center text-white">
              <div class="lg:text-center lg:mx-auto">
                <h3 class="font-bold italic lg:mx-auto lg:text-4xl text-2xl">
                  GNAR CREW
                </h3>
                <p class="text-sm mt-1">
                  By riders, for riders.
                </p>
              </div>
            </div>
          </div>
        </div>
        <nav class="flex gap-8 mt-11">

          
          <a href="https://www.instagram.com/gnarcrewmtb/" class="text-negroni-500  h-8 delay-150  hover:text-[#fd664e]  text-sm transition-colors">
            Instagram
          </a>
          <a href="https://www.youtube.com/@GnarCrewMTB" class="text-negroni-500  h-8 delay-150  hover:text-[#fd664e]  text-sm transition-colors">
            YouTube
          </a>
        </nav>
      </div>
    </div>
    <div class="flex flex-col border-t border-negroni-500/10 lg:mx-auto lg:text-center md:pt-6 pb-12 pt-8"></div>
  </div>
</footer>
