@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito:wght@300&display=swap');

// Old BG color: bg-charcoal-500

body {
    background-color: #333;
}

/* General Font Styles */
h1 {
    font-family: 'Luckiest Guy', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}


/* Footer */
footer {
    h3 {
        font-family: 'Luckiest Guy', sans-serif;
    }
}